body {
    background-color: rgb(225, 17, 100);
}

header {
    background-color: rgb(187, 17, 92);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-left: 5px solid white;
    border-right: 5px solid white;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    padding:15px;
    margin-top: 27px;
    
}

h2 {
    font-family: sans-serif;
    color:white;
    padding-top: 20px ;
    padding-bottom: 10px;
    padding-left: 15px;
    
}

.contenido {
    background-color:rgb(187, 17, 92);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1px;
}

article {
    background-color: white;
    margin: 15px ;
    padding:10px;
    
}

h3 {
    font-family: sans-serif;
    font-size: 16px;
    text-align: right;
    color: rgb(187, 17, 92) ;
    border-bottom: 2px dotted rgb(18, 11, 14) ;
    padding-right: 2px;
        
    }


img {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: #E96093;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.final {
    text-align: center;
    color: white;
    padding: 20px;
}

.boton-redondo {
    font-family: sans-serif;
    background-color: #2D8F1F;
    display: block;
    margin: 0 auto;
    color: white;
    padding: 5px;
    border-radius: 5px;
    
}

p {
    font-family: sans-serif;
    margin: 18px;
    font-size: 10px;
}

.dotted-underline {
    margin-right: 15px;
    margin-left: 15px;
}

.boton-redondo:hover {
    background-color: rgb(225, 17, 100);
}

.articulo-2 {
    margin-bottom: 40px;
}